*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  >* {
    width: 90%;
  }
}

#task-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  margin-top: 1rem;
  box-shadow: 5px 5px 10px 2px rgba(163, 163, 163, 0.8);

  >* {
    width: 100%;
  }

  #list-title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(228, 228, 228);
    padding: 1rem;
  }

  #add-task {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(228, 228, 228);

    #task-text {
      border: none;
      padding: 1rem;
      box-sizing: border-box;
    }

    #add-task-btn {
      padding: 0.6rem 0.8rem;
      margin: 0.6rem;
      box-shadow: 3px 3px 6px 1px rgba(199, 199, 199, 0.8);
      border: none;
      background-color: white;
    }
  }

  .check-all {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    font-size: 1.5rem;
    border-bottom: 1px solid rgb(228, 228, 228);
    padding: 0 1rem;
    height: 4rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    list-style: none;

    li {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-size: 1.5rem;
      border-bottom: 1px solid rgb(228, 228, 228);
      padding: 0 1rem;
      height: 4rem;

      .task-info {
        display: flex;
        width: 100%;
        gap: 1.5rem;

        .checkbox {
          background-color: white;
        }

        .task-text {
          border: none;
          height: 100%;
          width: 92%;
          background-color: transparent;
        }

        .task-text.done {
          text-decoration: line-through;
        }
      }

      .actions {
        border: none;
        background-color: transparent;
      }
    }
  }

  #clear-btn {
    border: none;
    padding: 1rem;
    color: rgb(104, 104, 104);
    background-color: rgb(240, 240, 240);
  }
}